In [6]:
import kagglehub
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)
path = kagglehub.dataset_download("breadnbu22er/or-cr-2016-to-2024")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\shukl\.cache\kagglehub\datasets\breadnbu22er\or-cr-2016-to-2024\versions\1

In [20]:
data_master=pd.read_csv('DataSet.csv')
data_master.describe()
data_master.head()

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Seat_Type
0,Indian Institute of Technology Bhubaneswar,AI,Gender-Neutral,2016,"Mechanical Engineering (4 Years, Bachelor of T...",651,583,ST
1,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Civil Engineering (4 Years, Bachelor of Techno...",21,21,OBC-NCL (PwD)
2,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Computer Science and Engineering (4 Years, Bac...",60,1,OPEN
3,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Energy Engineering with M.Tech. in Energy Syst...,848,338,SC
4,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Metallurgical Engineering and Materials Scienc...,2971,1657,OPEN

<H1>DataPreprocessing</H1>

<h3>Replacing Missing Values with min </h3>

In [15]:
data_min=pd.read_csv('DataSet-min.csv')
data_min.describe()

               Year
count  20834.000000
mean    2020.728281
std        2.374532
min     2016.000000
25%     2019.000000
50%     2021.000000
75%     2023.000000
max     2024.000000

In [17]:
print("Missing values in dataset:\n", data_min.isnull().sum())

Missing values in dataset:
 Institute                 1
Quota                     1
Gender                    1
Year                      0
Academic_Program_Name     1
Closing_Rank             14
Opening_Rank             12
Seat_Type                 1
dtype: int64

In [ ]:

data_min['Closing_Rank'] = pd.to_numeric(data_min['Closing_Rank'], errors='coerce')
data_min['Opening_Rank'] = pd.to_numeric(data_min['Opening_Rank'], errors='coerce')


min_closing_rank = data_min['Closing_Rank'].min()
min_opening_rank = data_min['Opening_Rank'].min()


data_min['Closing_Rank'].fillna(min_closing_rank, inplace=True)
data_min['Opening_Rank'].fillna(min_opening_rank, inplace=True)


print("Missing values after filling:\n", data_min.isnull().sum())

<h3>Replacing Missing Values with Average Values</h3>

In [25]:
data_avg=pd.read_csv('DataSet-avg.csv')
data_avg.describe()

               Year
count  20834.000000
mean    2020.728281
std        2.374532
min     2016.000000
25%     2019.000000
50%     2021.000000
75%     2023.000000
max     2024.000000

In [26]:
print("Missing values in dataset:\n", data_min.isnull().sum())

Missing values in dataset:
 Institute                 1
Quota                     1
Gender                    1
Year                      0
Academic_Program_Name     1
Closing_Rank             41
Opening_Rank             37
Seat_Type                 1
dtype: int64

In [30]:
data_avg['Closing_Rank'] = pd.to_numeric(data_avg['Closing_Rank'], errors='coerce')
data_avg['Opening_Rank'] = pd.to_numeric(data_avg['Opening_Rank'], errors='coerce')


mean_closing_rank = data_avg['Closing_Rank'].mean()
mean_opening_rank = data_avg['Opening_Rank'].mean()


data_min['Closing_Rank'].fillna(min_closing_rank, inplace=True)
data_min['Opening_Rank'].fillna(min_opening_rank, inplace=True)


print("Missing values after filling:\n", data_min.isnull().sum())

Missing values after filling:
 Institute                1
Quota                    1
Gender                   1
Year                     0
Academic_Program_Name    1
Closing_Rank             0
Opening_Rank             0
Seat_Type                1
dtype: int64

<h3>Replacing Missing Values with Max Values</h3>

In [35]:
data_max=pd.read_csv('DataSet-max.csv')
data_max.describe()

               Year
count  20834.000000
mean    2020.728281
std        2.374532
min     2016.000000
25%     2019.000000
50%     2021.000000
75%     2023.000000
max     2024.000000

In [36]:
print("Missing values in dataset:\n", data_max.isnull().sum())

Missing values in dataset:
 Institute                 1
Quota                     1
Gender                    1
Year                      0
Academic_Program_Name     1
Closing_Rank             41
Opening_Rank             37
Seat_Type                 1
dtype: int64

In [38]:
data_max['Closing_Rank'] = pd.to_numeric(data_max['Closing_Rank'], errors='coerce')
data_max['Opening_Rank'] = pd.to_numeric(data_max['Opening_Rank'], errors='coerce')


max_closing_rank = data_max['Closing_Rank'].mean()
max_opening_rank = data_max['Opening_Rank'].mean()


data_max['Closing_Rank'].fillna(max_closing_rank, inplace=True)
data_max['Opening_Rank'].fillna(max_opening_rank, inplace=True)


print("Missing values after filling:\n", data_max.isnull().sum())

Missing values after filling:
 Institute                1
Quota                    1
Gender                   1
Year                     0
Academic_Program_Name    1
Closing_Rank             0
Opening_Rank             0
Seat_Type                1
dtype: int64

C:\Users\shukl\AppData\Local\Temp\ipykernel_7056\3051898924.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_max['Closing_Rank'].fillna(max_closing_rank, inplace=True)
C:\Users\shukl\AppData\Local\Temp\ipykernel_7056\3051898924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_max['Opening_Rank'].fillna(max_opening_rank, inplace=True)